.game-wrapper{
    width: 740px;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    display: flex;
    justify-content: space-between;
}

.rules{
    text-align: center;
    cursor: pointer;
    color: white;
    background: none ;
    border: 1px solid white;
    padding: .5rem;
    border-radius: 9px;
    width: 110px;
    font-weight: 700;
}